
@import "tailwindcss";

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding:  2rem;
  justify-content: space-between;

}

.btn {
  @apply w-7 h-7
}

.btn:hover {
  @apply scale-120 transition-transform duration-300 cursor-pointer bg-emerald-300 rounded-full
}
.btn:active {
  @apply scale-100;
}

.btnDelete {
  @apply p-1.5
}

.btnDelete:hover {
  @apply scale-110 transition-transform duration-300 cursor-pointer bg-emerald-300 rounded
}

.btnDelivery {
  @apply flex justify-center text-xl
  font-light w-full rounded-md
  mt-3 pt-3 pb-3 gap-3 hover:cursor-pointer
}