* {
  margin: 0;
  padding: 0;
  color: black;
  font-family: "Andale Mono", monospace ;
  box-sizing: border-box;
}

.container {
  display: flex;
  align-items: center;
  margin: 0 auto;
  padding:  2rem;
  justify-content: space-between;

}

