.banner-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 80vh;
    background: url("/src/img/nike-pegasus.webp") no-repeat center center;
    background-size: cover;
    padding: 20px;
    transition: height 0.3s ease;

}

.banner-content {
    text-align: center;
    color: white;
    max-width: 600px;
    width: 100%;
    margin-top: auto;
}

.banner-content h2 {
    font-size: 2.5em;
    margin-bottom: 10px;
    color: white;
    transition: font-size 0.3s ease;
}

.banner-content p {
    font-size: 1.2em;
    color: white;
    transition: font-size 0.3s ease;
}

.banner-button {
    margin-top: .5em;
    padding: 10px 20px;
    background-color: #2dfab5;
    border: none;
    border-radius: .3em;
    color: white;
    font-size: 1em;
    cursor: pointer;
    transition: transform 0.1s ease, box-shadow 0.1s ease;
}

.banner-button:hover {
    background-color: #0af6a7;
    transform: scale(1.09);
}
.banner-button:active {
    transform: translateY(2px) translateX(2px);

    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.plus {
    position: marker;
    margin: 4em 0 0 -13em;
    background-color: #2dfab5;
    font-size: 1.5em;
    color: white;
    border-radius: 1em;
    padding: .01em .3em;
    border: 1px white solid;
    box-shadow: 0 0 10px 4px rgb(39, 219, 102);
    transition: box-shadow 0.3s ease, box-shadow 0.3s ease;
}
.plus:hover {
    background-color: #00ffa7;
    cursor: pointer;
    transform: scale(1.09);

}
.plus:active {
    transform: translateY(1px) translateX(1px);
}

@media (max-width: 768px) {
    .banner-container {
        height: 50vh;
        padding: 10px;
    }

    .banner-content h2 {
        font-size: 2em;
    }

    .banner-content p {
        font-size: 1em;
    }

    .banner-button {
        padding: 8px 16px;
    }
}

@media (max-width: 480px) {
    .banner-container {
        height: 40vh;
    }

    .banner-content h2 {
        font-size: 1.5em;
    }

    .banner-content p {
        font-size: 0.9em;
    }

    .banner-button {
        padding: 6px 12px;
    }
}